*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
a {
  text-decoration: none;
  color: inherit;
}
img.svg {
  user-select: none;
}
:root {
  --system-ui:
    Arial, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Segoe UI Symbol";
  font-size: 14px;
  --primary: #277691;
  --white: white;
  --black: black;
   --shadow-color: 0deg 0% 69%;
  --shadow:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.29),
    0.8px 1.5px 1.9px -0.8px hsl(var(--shadow-color) / 0.29),
    1.9px 3.7px 4.7px -1.7px hsl(var(--shadow-color) / 0.29),
    4.5px 9.1px 11.4px -2.5px hsl(var(--shadow-color) / 0.29);

  --img-shadow-color: 0deg 0% 40%;
  --img-shadow:
    0.3px 0.5px 0.7px hsl(var(--img-shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--img-shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--img-shadow-color) / 0.36),
    5px 8px 10.6px -2.5px hsl(var(--img-shadow-color) / 0.36);
}
img.svg{
    width: 26px;
    height: 26px;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    flex-grow: 1;
    background-color: var(--white);
  }

.about-block{
  margin-bottom: 100px;
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;

}
.about-background{
    position: absolute;
    z-index: -1;
    transform-origin: 0; 
    transform: skewY(-10deg);
    background-color: var(--primary);
    min-height: 650px;
    width: 100%;
    box-shadow: var(--shadow);
}

.about-content{
    padding: 40px 60px 0px 60px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.about-info{
    text-align: left;
    min-height: 300px;
    max-width: 100%;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.about-text{
  margin: 50px 0px 50px 0px;
  box-shadow: var(--shadow);
  background-color: var(--white);
  padding: 25px 25px 15px 25px;
}
.info-header{
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.info-para{
  font-size: 1.1rem;
}
.header-icons{
  display: flex;
  align-items: center;
  gap:15px;
  justify-content: right;
  margin-top: 120px;
}
.person-img{
    min-height: 500px;
    max-width: 500px;
    object-fit: cover;
    box-shadow: var(--img-shadow);
}

.about-visual{
    position: relative;
    height: fit-content;
}
.person-header{
    position: absolute;
    bottom: 0;
    text-align: center;
    color: var(--white);
    width: 100%;
    font-size: 3rem;
    font-weight: 500;
}

main{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 40px 60px 0px 60px;
  margin-bottom: 120px;
}
.main-header{
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: left;
}
.content-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  gap: 25px;
}
.card{
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  min-height: 350px;
  max-width: 340px;
}
.card-img{
  max-height: 250px;
  max-width: 100%;
  object-fit: cover;
}
.card-info{
  padding: 10px 15px 50px 15px;
}
.header-line{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card-title{
  font-size: 1.4rem;
  font-weight: 300;
}
.link-icons{
  display: flex;
  align-items: center;
  gap: 15px;
  
}
.link-icons a img{
height: 1.4rem;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--white);
  background-color: var(--primary);
}
.footer-content{
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
  padding: 60px 50px;
}
.footer-header{
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer-img{
  object-fit: cover;
  min-height: 350px;
  max-width: 500px;
}
.footer-info{
  text-align: left;
  max-width: 530px;
}
.footer-info p{
  font-size: 1.2rem;
}
.footer-info > p {
  margin-bottom: 20px;
}
.phone-info, .mail-info{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.mail-info{
  margin-bottom: 30px;
}
.footer-icons{
  display: flex;
  gap: 20px;
}
.phone-info img, .mail-info img{
  filter: invert(1);
}

@media (min-width: 2560px){
  .about-background{
    min-height: 750px;
}
}
@media (max-width: 1280px){
  .about-block{
    margin-bottom: 50px;
  }
  .about-background{
    min-height: 510px;
}
  .about-content{
      max-width: 900px;
      padding: 40px 20px 0px 20px;
  }
.header-icons{
  margin-top: 20px;
}
  .person-img{
      min-height: 450px;
      max-width: 400px;
  }
  main{
      max-width: 900px;
      padding: 40px 20px 0px 20px;
    }
  .card{
  min-height: 200px;
  max-width: 270px;
}
.card-img{
  max-height: 200px;
}
.footer-content{
gap: 40px;
max-width: 900px;
padding: 40px 20px;
}
.footer-img{
  max-width: 500px;
}
.footer-info{
  max-width: 320px;
}
  }

@media (max-width: 900px){
  main{
    padding-top: 0px;
  }
  .header-icons{
    display: none;
  }
.about-block{
    margin-bottom: 30px;
  }
  .person-header {
    font-size: 3.5rem;
    text-align: right;
    top: 0;
    transform: translate(155px, -100px);
}

  .about-content{
      max-width: 530px;
      margin-left: 75px;
      padding-top: 80px;
  }
  .about-info{
    background-color: var(--white);
    display: block;
    margin: 50px 0px 50px 0px;
    padding: 25px 25px 15px 25px;
    box-shadow: var(--shadow);
  }
    .about-text{
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    padding-bottom: 40px;
  }
  .about-visual{
    float: left;
  }
  .person-img{
      min-height: 400px;
      max-width: 400px;
      margin: -120px 20px 0px -90px;
  }

  main{
      max-width: 600px;
    }
  .card{
  max-width: 265px;
}
.footer-content{
gap: 50px;
max-width: 600px;
}
.footer-img{
  max-width: 250px;
}
.footer-info{
  max-width: 250px;
}
}


@media (max-width: 600px){
    .about-background{
    min-height: 400px;
}
  .header-icons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .about-content{
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }

  .person-header{
    text-align: left;
    line-height: 1;
    font-size: 4rem;
    transform: translate(10px, 280px);
    bottom: 0;
  }
  .person-img{
    max-width: 300px;
    margin: 0px 0px 20px 0px;
  }
  .info-header{
    text-align: center;
  }

  .about-info{
    padding: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    box-shadow: none;
    margin: 0px;
  }
  .about-text{
    box-shadow: none;
    padding: 0px;
  }
  .info-header, .main-header{
    margin-bottom: 5px;
  }
  .info-para{
    margin-bottom: 15px;
  }
main{
  align-items: center;
  max-width: 550px;
  padding: 40px 20px 0px 20px;
}
.content-container{
  flex-grow: 1;
  width: 100%;
}
.card{
  max-width: 550px;
}
.card-img{
  max-height: 280px;
}
.content-container{
  align-items: center;
  justify-content: center;
}
.footer-header{
  text-align: center;
}
.footer-content{
  padding: 0px 0px 50px 0px;
  flex-direction: column-reverse;
  align-items: center;
}
.footer-img{
  max-width: 100%;
}
.footer-icons{
  justify-content: center;
}
.footer-info{
  max-width: 550px;
  padding: 0px 20px 0px 20px;
}
}